{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Shop Search</h1>
        <form method="post" action="{% url 'shop_search' %}" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="search_type">Search By:</label>
                <select name="search_type" id="search_type" class="form-control" required>
                    <option value="name">Name</option>
                    <option value="distance">Distance</option>
                </select>
            </div>
            <div class="form-group" id="name_group" style="display: none;">
                <label for="shop_name">Shop Name:</label>
                <input type="text" name="shop_name" id="shop_name" class="form-control">
            </div>
            <div class="form-group" id="distance_group" style="display: none;">
                <label for="distance">Distance (in kilometers):</label>
                <input type="number" name="distance" id="distance" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <script>
        const searchTypeSelect = document.getElementById('search_type');
        const nameGroup = document.getElementById('name_group');
        const distanceGroup = document.getElementById('distance_group');
        
        searchTypeSelect.addEventListener('change', function() {
            if (this.value === 'name') {
                nameGroup.style.display = 'block';
                distanceGroup.style.display = 'none';
            } else if (this.value === 'distance') {
                nameGroup.style.display = 'none';
                distanceGroup.style.display = 'block';
            }
        });
    </script>
{% endblock content %}
